// Font
$fprincipal: 'Barlow Semi Condensed', sans-serif;


// Colors
$moderateViolet: hsl(263, 55%, 52%);
$vdGrayBlue: hsl(217, 19%, 35%);
$vdBlackBlue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$lightGray: hsl(0, 0%, 81%);
$lightGrayBlue: hsl(210, 46%, 95%);

$verifiGraduate: hsl(210, 46%, 95%, 0.5);
$parrafoQuotes: hsl(210, 46%, 95%, 0.7);

$parrafoQuote2: #959A9E;

//  MQ 
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
